
.up ,.down,.count{
    padding: 5%;
    margin: 5%;
    margin-left: 150px;
    background-color: antiquewhite;
    color: black;
    font-size: 30px;
    border: solid;
    border-radius: 20%;
    cursor: grab;

}